{% extends 'main_page.html' %}

{% block title %} LOGIN {% endblock title %}

{% block body_content %}


    <div class="row ">
        <div class="col-3"></div>
            <div class="col-md-6 col-12 col-offset-3">
                <form method="post" class="mt-4">
                    {% csrf_token %}
                    {% load bootstrap %}

                    {{form|bootstrap}}
                    <div class="d-flex">
                        <input type="submit" class="bc-white mt-2 ml-2 me-3 loginbutton" value="Login">
                        <a class="date text-primary mt-5 ml-1" href="{% url 'password_reset' %}">Reset Password</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-3"></div>


{% endblock body_content %}

